<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h1>Job Scrapper</h1>
    <h4>What job do you want?</h4>
    <form action="/search">
      <input type="text" name="keyword" placeholder = "Write keyword here!"/>
      <button>Search</button>
    </form>
  </main>
</body>
</html>